USE HotelCrawlerDB

CREATE TABLE district (
  districtid nvarchar(5) NOT NULL,
  name nvarchar(100) NOT NULL,
  type nvarchar(30) NOT NULL,
  location nvarchar(30) NOT NULL,
  provinceid nvarchar(5) NOT NULL,
  PRIMARY KEY (districtid)
)



-- --------------------------------------------------------

--
-- Table structure for table 'province'
--

CREATE TABLE province (
  provinceid nvarchar(5) NOT NULL,
  name nvarchar(100) NOT NULL,
  type nvarchar(30) NOT NULL,
  PRIMARY KEY (provinceid)
) 
--
-- Dumping data for table 'province'
--


-- --------------------------------------------------------

--
-- Table structure for table 'ward'
--

CREATE TABLE Ward (
  wardid nvarchar(5) NOT NULL,
  name nvarchar(100) NOT NULL,
  type nvarchar(30) NOT NULL,
  location nvarchar(30) NOT NULL,
  districtid nvarchar(5) NOT NULL,
  PRIMARY KEY (wardid),
  )
  
--
-- Dumping data for table 'ward'
--






